.navbar{
    background-color: #44536b;
  }

  .main-header {
    background-color: #000;
    height: 42px;
    color: #fff;
} 

.logo {
  background-repeat: no-repeat;
  height: 42px;
  width: 142px;
  display: inline-block;
}