<header class="main-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-6 col-lg-6 col-xl-8"> <span class="brand-logo">
        <img src="/assets/conduet-logo.PNG"/></span> </div>
      <div  class="col-9 col-sm-9 col-md-6 col-lg-6 col-xl-4">
        <div class="logout-btn-padding float-right">
          <span>
            <hr class="cwf-hr mt-2 mb-2">
          </span>
          <span> <a class="font-italic">Userfirst Userlastname | </a></span>
          <span> <a class="font-italic cursor-pointer">My Account | </a></span>
          <span> <a  class="font-italic cursor-pointer">Logout</a></span>
        </div>
      </div>        
    </div>
  </div>
</header>  





<!-- 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CDR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="account" >Account</a> 
        </li>
      
        <li class="nav-item">
          <a class="nav-link " routerLink="claims">Claims</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
