

<app-header></app-header>
<app-nav></app-nav>
<div class="container-fluid mt-2">

<div class="content bg-white p-2" role="main">

  <!-- <formio src="https://dhnhwgjxyybjuic.form.io/claim"></formio> -->
   


  <button  class="btn-primary" style="text-align:center;margin-bottom:5px;" (click)="getData()">Fetch Data</button>
  
       
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Claim ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let claim of data">
                <td> {{ claim.data.claimId }} </td>
                <td> {{ claim.data.firstName }}</td>
                <td> {{ claim.data.lastName }}</td>
                <td> {{ claim.data.status }}</td>
              </tr>
              
            </tbody>
          </table>


    
      

</div>


  
 

        <router-outlet></router-outlet>
    

      <app-footer></app-footer>
    </div>