

@import "~bootstrap/scss/bootstrap.scss";

body{
    
        font-size:.7rem;
        font-family: 'Open Sans'!important;
        font-style: normal;
        font-variant: normal;
        background-image: url(assets/bg.jpg);
        padding-bottom: 40px;
    }

.table thead {
    background: #005a64;
    color: #fff;
} 

.table th, .table td {
    padding: 4px;
    vertical-align: top;
    border-top: none;
    border-bottom: none;
}
.form-control.ng-invalid {
    border: 1px solid red ;
}