<div class="sub-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-sm-1 align-self-center"> 
          <span class="header-recovery align-self-center"><a>CBAS</a></span> </div>
        <div class="col-12 col-lg-8 col-xl-8 col-md-8 order-sm-8 pt-0 navbar navbar-expand-md navbar-dark justify-content-end ">        
          <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
             <span class="navbar-toggler-icon"></span> </button>
          <div class="righttab float-right collapse navbar-collapse justify-content-end" id="collapsibleNavbar"  >
            <ul class="nav nav-tabs nav-rtl hidden-sm-down mr-3 justify-content-sm-end " role="tablist" >
                <li  class="nav-item">
                 <a routerLinkActive="active" class="active" [routerLinkActiveOptions]="true"  data-toggle="tab" href="#" role="tab">
                   <span class="slanted-text">Account Analysis </span></a> 
                </li>
                <li  class="nav-item">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="true"  data-toggle="tab" href="#" role="tab">
                      <span class="slanted-text">Appeals </span></a> 
                   </li>
                   <li  class="nav-item">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="true"  data-toggle="tab" href="#" role="tab">
                      <span class="slanted-text">Claim Recoveries </span></a> 
                   </li>
                   <li  class="nav-item">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="true"  data-toggle="tab" href="#" role="tab">
                      <span class="slanted-text">Collections </span></a> 
                   </li>
                   <li  class="nav-item">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="true"  data-toggle="tab" href="#" role="tab">
                      <span class="slanted-text">Admin </span></a> 
                   </li>
  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
